#wrap{
    width: 450px;
    margin: 10px auto;
}
#contact{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    background-color: #CB9;
    border: 1px solid #DCA;
    border-top-left-radius: 10px;
}
#contact a{
    text-decoration: none;
    color: brown;
}
